/* CSS für warenkorb */

.basketWrapper {
  position: absolute;
  top: 100vh;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 220px;
}

.wrapperBasket {
  max-width: var(--section-width);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  min-height: 100svh;
}

#basketSidebar {
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

#basket {
  position: sticky;
  top: 84px;
  left: 0;
  z-index: 20;
  height: 400px;
  width: 280px;
  background: #000000;
  border-radius: 20px 0 0 20px;
}